@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }
  
.custom-scrollbar::-webkit-scrollbar-track {
    background: #059669;
  }
  
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #10b981;
    border-radius: 10px;
    border: 4px solid #036345
  }
  
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #059669;
  }

  .dark-custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }
  
.dark-custom-scrollbar::-webkit-scrollbar-track {
    background: #10b981;
  }
  
.dark-custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #10b981;
    border-radius: 10px;
    border: 4px solid #036345
  }
  
.dark-custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #059669;
  }